@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* src/index.css or src/styles/globals.css */
@font-face {
  font-family: 'Neue Haas Display';
  src: url('./assets/fonts/NeueHaasDisplayThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('./assets/fonts/NeueHaasDisplayThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('./assets/fonts/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('./assets/fonts/NeueHaasDisplayLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}



@font-face {
  font-family: 'Neue Haas Display';
  src: url('./assets/fonts/NeueHaasDisplayMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('./assets/fonts/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Neue Haas Display1';
  src: url('./assets/fonts/roman-font.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url('./assets/fonts/NeueHaasDisplayBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('./assets/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('./assets/fonts/NeueHaasDisplayBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* You can add more for XXThin, XThin, Roman, etc. using the same pattern */
